<nav class="navbar navbar-expand-lg bg-nav-color navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" >ONLINE NEWS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


          <!-- <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLinkActive="bg-white text-primary" routerLink="/home">Home</a>
          </li> -->

<!-- 
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="bg-white text-primary" routerLink="/apple">Apple News</a>
          </li>


          <li class="nav-item">
            <a class="nav-link " routerLinkActive="bg-white text-primary" routerLink="/tesla">Tesla News</a>
          </li> -->


          
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="bg-white text-primary" routerLink="/home" >Business News</a>
          </li>











        </ul>








      </div>
    </div>
  </nav>